<!-- src/app/league-dialog/league-dialog.component.html -->
<h1 mat-dialog-title>Select League and Team</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>League</mat-label>
    <mat-select [(value)]="selectedLeague" (selectionChange)="onLeagueChange()">
      <mat-option *ngFor="let league of leagues" [value]="league">
        {{ league.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Team</mat-label>
    <mat-select [(value)]="selectedTeam">
      <mat-option *ngFor="let team of teams" [value]="team">
        {{ team.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card *ngIf="predictionDone">
    <mat-card-content>{{playerTeamFitMessage}}</mat-card-content>
  </mat-card>
  <mat-card *ngIf="predictionDone">
    <mat-card-header>Overall rating</mat-card-header>
    <app-price-range-indicator [minValue]=minOverall [maxValue]=maxOverall [currentValue]=playerOverall></app-price-range-indicator>
  </mat-card>
  <mat-card *ngIf="predictionDone">
    <mat-card-header>Potential rating</mat-card-header>
    <app-price-range-indicator [minValue]=minPotential [maxValue]=maxPotential [currentValue]=playerPotential></app-price-range-indicator>
  </mat-card>
  <mat-card *ngIf="predictionDone">
    <mat-card-header>Age</mat-card-header>
    <app-price-range-indicator [minValue]=minAge [maxValue]=maxAge [currentValue]=playerAge></app-price-range-indicator>
  </mat-card>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="predictMatch()">OK</button>
</div>
